.address-selection-row {
  border: 2px solid #e4e5e6;
  margin-bottom: 20px;
  padding: 15px;
  cursor: pointer;
}

.address-selection-row.selected {
  border: 3px solid #9fce52;
}

.select-text {
  margin-top: 40px;
}

.select-text.selected {
  color: #9fce52;
}
